<span class="ui-float-label">
    <input class="float-input" type="text" pInputText [(ngModel)]="car.name"> 
    <label for="float-input">Name</label>
</span>
<span class="ui-float-label">
    <input class="float-input" type="number" pInputText [(ngModel)]="car.year"> 
    <label for="float-input">Year</label>
</span>
<span class="ui-float-label">
    <input class="float-input" type="text" pInputText [(ngModel)]="car.description"> 
    <label for="float-input">Description</label>
</span>
<!-- <input type="text" pInputText [(ngModel)]="car.name" />
<input type="text" pInputText [(ngModel)]="car.year" />
<input type="text" pInputText [(ngModel)]="car.description" /> -->
<button *ngIf="!carId" (click)="onCreate()">Go</button>
<button *ngIf="carId" (click)="onUpdate()">Update</button>