<div class="p-grid">
    <div class="p-col">
        <p-button label="New" [routerLink]="['/car-types/car-type-form']"></p-button>
    </div>
    <div class="p-grid">
        <div class="p-col">
            <p-table [value]="carTypes">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-carType>
                    <tr>
                        <td [routerLink]="['/car-types/car-type-form/', carType._id]">{{carType.name}}</td>
                        <td>{{carType._id}}</td>
                        <td>
                            <button (click)="onDeleteCarType(carType._id)" pButton type="button" class="ui-button-danger" icon="pi pi-times"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>