<div class="p-grid">
    <div class="p-col">
        <p-button label="New" [routerLink]="['/cars/car-form']"></p-button>
    </div>
    <div class="p-grid">
        <div class="p-col">
            <p-table [value]="cars">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Year</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-car>
                    <tr>
                        <td [routerLink]="['/cars/car-form/', car._id]">{{car.name}}</td>
                        <td>{{car.year}}</td>
                        <td>{{car.description}}</td>
                        <td><button class="btn btn-secondary" (click)="onDeleteCar(car._id)">Delete</button></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>